db: ${DB}
contract_address: '${CONTRACT_ADDR}'
contract_abi_file_path: '${CONTRACTS_DIR}/artifacts/contracts/IFluiDexDelegate.sol/IFluiDexDelegate.json'
web3_url: http://localhost:8545
confirmations: 3
keystore: '${KEYSTORE_PATH}'
password: '${KEYSTORE_PASSWORD}'
chain_id: '${CHAIN_ID}'